.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.box:hover {
    background-color: #f0f0f0;
}

.content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10px;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  