body {
    background-color: #020230;
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .team-text {
    font-size: 100px;
    color: white;
    font-weight: bold;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
   text-align: center;
   top: 50%;
   margin-top: 400px;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .navbar {
    overflow: hidden;
  }

  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  .navbar .icon {
    display: none;
  }

  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {
      display: none;
    }

    .navbar a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .navbar.responsive {
      position: relative;
    }

    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    .navbar.responsive a {
      display: block;
      text-align: left;
    }
  }

  a {
    font-family:monospace;
    font-size: 1.2rem;
    color: inherit;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(51, 92, 204) 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  h1 {
    font-family:monospace;
    font-size: 100px;
    font-weight: bold;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

  .logo {
    max-width: 100px;
    position: fixed;
    top: 0;
    right: 0;
  }


  #loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
}

#loadingSpinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #fff;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-right: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}